@model Application.Services.WeeklyReport.Queries.RankingBarChart.RankingBarChartVm

 


    <div class="row">
        <hr/>
        <h1>Team Rank Evaluation </h1>

        <div style="text-align: center">
            <canvas id="barcanvas"></canvas>
        </div>
    </div>