@using Application.Services.Teams.Queries.GetTeamSummery.Queries.GetTeamStatisticalInfoHistory
@model  GetTeamStatisticalInfoHistoryChartVm


<div class="row">
           <div class="card-header">
               Same Strength Teams
           </div>
           <div class="card-body">
              <canvas id="MyChart"></canvas>  
           </div>
       </div>

